<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link href="/src/style.css" rel="stylesheet" />
    <link href="/src/styles/about.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-light p-5 font-manrope font-light">
    <header class="header section section--primary about-header">
        <%- headerNav %>
        <div class="container header__content">
            <div class="header__main">
                <h1 class="head-1 header__title text-white about-header__title">
                    О компании
                </h1>
            </div>

        </div>
    </header>

    <section class="stats section section--white">
      <div class="stats__container container">
        <div class="about-clients__wrapper">
          <div class="stats__grid about-clients__grid">
            <div class="stats__item stats__item--about">
              <div class="stats__number font-roboto text-gradient t-3 bg-clip-text text-transparent">50+</div>
              <div class="stats__text t-2">Специалистов<br /> в сфере ИТ</div>
            </div>

            <div class="stats__item stats__item--about">
              <div class="stats__number font-roboto text-gradient t-3 bg-clip-text text-transparent">6+</div>
              <div class="stats__text t-2">Лет работы<br /> в России</div>
            </div>
          </div>

          <div class="t-1 about__desc">
            <span class="text-primary">Компания МИР ДАННЫХ ИТ выполняет задачи по проектированию и тестированию, в том числе в направлении информационная безопасность,</span> а также по сопровождению и эксплуатации внедренных решений для средних и крупных предприятий.
          </div>
        </div>

        <div class="about-clients__title-wrapper">
          <div></div>
          <div class="head-2 about-clients__title">
            Постоянные <br class="about-clients__title-br" /> клиенты
          </div>
        </div>

        <div class="about-clients about-clients--mobile">
          <div class="about-clients__row">
            <div class="about-clients__row-item about-clients__row-item--center">
              <img src="/clients/mts.svg" alt="MTS" />
            </div>
            <div class="about-clients__row-item">
              <img src="/clients/otp-bank.svg" alt="OTP" />
            </div>
          </div>

          <div class="about-clients__row about-clients__row--sb">
            <div class="about-clients__row-item">
              <img class="t1-img" src="/clients/t1-integration.svg" alt="T1-integration" />
            </div>
            <div class="about-clients__row-item about-clients__row-item--right">
              <img src="/clients/lanit.svg" alt="Lanit" />
            </div>
          </div>

          <div class="about-clients__row">
            <div class="about-clients__row-item about-clients__row-item--center">
              <img src="/clients/otr-tv.svg" alt="OTR-TV" />
            </div>
            <div class="about-clients__row-item">
              <img src="/clients/atomyze.svg" alt="ATOMYZE" />
            </div>
          </div>
        </div>

        <div class="about-clients">
          <div class="about-clients__row">
            <div class="about-clients__row-item about-clients__row-item--center">
              <img src="/clients/mts.svg" alt="MTS" />
            </div>
            <div class="about-clients__row-item">
              <img src="/clients/otp-bank.svg" alt="OTP" />
            </div>
            <div class="about-clients__row-item">
              <img class="t1-img" src="/clients/t1-integration.svg" alt="T1-integration" />
            </div>
          </div>

          <div class="about-clients__row">
            <div class="about-clients__row-item about-clients__row-item--right">
              <img src="/clients/lanit.svg" alt="Lanit" />
            </div>
            <div class="about-clients__row-item about-clients__row-item--center">
              <img src="/clients/otr-tv.svg" alt="OTR-TV" />
            </div>
            <div class="about-clients__row-item">
              <img src="/clients/atomyze.svg" alt="ATOMYZE" />
            </div>
          </div>
        </div>

        <div class="about-clients about-clients--tablet">
          <div class="about-clients__row-item about-clients__row-item--center">
            <img src="/clients/mts.svg" alt="MTS" />
          </div>
          <div class="about-clients__row-item">
            <img src="/clients/otp-bank.svg" alt="OTP" />
          </div>
          <div class="about-clients__row-item">
            <img class="t1-img" src="/clients/t1-integration.svg" alt="T1-integration" />
          </div>

          <div class="about-clients__row-item about-clients__row-item--right">
              <img src="/clients/lanit.svg" alt="Lanit" />
            </div>
            <div class="about-clients__row-item about-clients__row-item--center">
              <img src="/clients/otr-tv.svg" alt="OTR-TV" />
            </div>
            <div class="about-clients__row-item">
              <img src="/clients/atomyze.svg" alt="ATOMYZE" />
            </div>
        </div>
      </div>
    </section>

    <section class="development section section--white">
        <div class="development__container container">
            <div class="development__header development__header--about">
                <div class="development__label">
                    <span class="development__label-text t-2 text-primary">Компетенции</span>
                </div>
                <div class="development__title-wrapper">
                    <h2 class="development__title head-2 development__title--about">
                        <span class="development__title-primary text-primary">Мы стремимся к лидерству компании на рынке России,</span>
                        <span class="development__title-secondary">активно развиваемся в следующих направлениях</span>
                    </h2>
                </div>
            </div>

            <div class="toggle-cards">
              <div class="toggle-card about__toggle-card">
                <div class="toggle-card__content">
                  <div class="toggle-card__number font-roboto t-5 text-primary" id="number-1">01</div>
                  <div class="head-3 text-primary toggle-card__main">
                    Разработка программного обеспечения
                  </div>
                </div>

                <div class="toggle-card__text toggle-card__text--about t-2" id="text-1">
                  <div class="first toggle-card__number font-roboto t-5 text-primary" id="number-hidden-1">01</div>
                  <div>
                    Наши специалисты работают с крупнейшими системными интеграторами, выполняя задачи по проектированию, тестированию, сопровождению и эксплуатации внедренных решений. Проводят оценку защищенности ресурсов при выполнении разработки программного обеспечения лицензии ФСТЭК (№Л024-00107-00/00582622 от 11 сентября 2019 г.) и ФСБ (ЛСЗ0016578 17477Н от 1 октября 2019 г.)
                  </div>
                </div>
                <button class="btn-icon toggle-card__arrow opener" data-target="#text-1, #number-1, #number-hidden-1">
                  <img src="/arrow-bottom.png" />
                </button>
              </div>

              <div class="toggle-card about__toggle-card">
                <div class="toggle-card__content">
                  <div class="toggle-card__number font-roboto t-5 text-primary" id="number-2">02</div>
                  <div class="head-3 text-primary toggle-card__main">
                    Обучение персонала заказчика
                  </div>
                </div>

                <div class="toggle-card__text toggle-card__text--about t-2" id="text-2">
                  <div class="first toggle-card__number font-roboto t-5 text-primary" id="number-hidden-2">02</div>
                  <div>
                    Учебный центр разрабатывает индивидуальные программы обучения по заказу компаний. Программы длятся от недели до двух месяцев, проводятся удаленно или очно. Компания имеет лицензию на образовательную деятельность (Л035-01298-77/00180273 от 19 апреля 2021 г.).
                  </div>
                </div>
                <button class="btn-icon toggle-card__arrow opener" data-target="#text-2, #number-2, #number-hidden-2">
                  <img src="/arrow-bottom.png" />
                </button>
              </div>

              <div class="toggle-card about__toggle-card">
                <div class="toggle-card__content">
                  <div class="toggle-card__number font-roboto t-5 text-primary" id="number-3">03</div>
                  <div class="head-3 text-primary toggle-card__main">
                    Администрирование баз данных
                  </div>
                </div>

                <div class="toggle-card__text toggle-card__text--about t-2" id="text-3">
                  <div class="first toggle-card__number font-roboto t-5 text-primary" id="number-hidden-3">03</div>
                  <div>
                    Центр администрирования баз данных занимается увеличением скорости работы с цифровыми данными Заказчика, снижением рисков остановки, проведением аудита, помощью в оптимизации существующей инфраструктуры баз данных и созданием решений для новых проектов. Осуществляет работы по импортозамещению.
                  </div>
                </div>

                <button class="btn-icon toggle-card__arrow opener" data-target="#text-3, #number-3, #number-hidden-3">
                  <img src="/arrow-bottom.png" />
                </button>
              </div>
          </div>
        </div>
    </section>

    <section class="development section section--white">
        <div class="development__container container">
            <div class="development__header development__header--licences">
                <div class="development__label">
                    <span class="development__label-text t-2 text-primary">Преимущества</span>
                </div>
                <div class="development__title-wrapper">
                    <h2 class="development__title head-2">
                        <span class="development__title-primary text-primary">Мы имеем</span>
                        <span class="development__title-secondary">лицензии</span>
                    </h2>
                </div>
            </div>
            
            <div class="licences-links">
                <div class="licences-link">
                    <div class="head-3 text-primary">01</div>
                    <div class="t-1 text-primary">
                      Включена в реестр аккредитованных ИТ-компаний
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">02</div>
                    <div class="t-1">
                      <span class="text-primary">Включена в реестр МСП</span>
                      <div class="t-2 licences-link__text-mt">
                        Малое предприятие с 10.08.2020
                      </div>
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">03</div>
                    <div class="t-1">
                      <span class="text-primary">Имеет лицензию ФСТЭК</span>
                      <div class="t-2 licences-link__text-mt">
                        №Л024-00107-00/00582622 от 11 сентября 2019 г.
                      </div>
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">04</div>
                    <div class="t-1">
                      <span class="text-primary">Имеет лицензию ФСБ</span>
                      <div class="t-2 licences-link__text-mt">
                        ЛСЗ0016578 17477Н от 1 октября 2019 г.
                      </div>
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">05</div>
                    <div class="t-1 text-primary">
                      Заключает NDA
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">06</div>
                    <div class="t-1 text-primary">
                      Применяет УСН
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">07</div>
                    <div class="t-1 text-primary">
                      Использует ЭДО — «Контур.Диадок», «Такском»
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">08</div>
                    <div class="t-1">
                      <span class="text-primary">Имеет лицензию на образовательную деятельность</span>
                      <div class="t-2 licences-link__text-mt">
                        (Л035-01298-77/00180273 от 19 апреля 2021 г.)
                      </div>
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">09</div>
                    <div class="t-1">
                      <span class="text-primary">Является оператором персональных данных</span>
                      <div class="t-2 licences-link__text-mt">
                        №77-21-018783 от 21.01.2021
                      </div>
                    </div>
                </div>

                <div class="licences-link">
                    <div class="head-3 text-primary">10</div>
                    <div class="t-1 text-primary">
                      На рынке с 2018 года
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="development section section--white">
        <div class="development__container container">
            <div class="development__header">
                <div class="development__label">
                    <span class="development__label-text t-2 text-primary">Наша команда</span>
                    <div class="about-team__lead">
                      <img class="about-team__avatar about-team__avatar--lead" src="/team/lead.png" />

                      <div class="about-team__lead-text">
                        <div class="t-2 text-primary about-team__fio">
                          Елена Витальена Константинова
                        </div>
                        <div class="t-2">
                          Гендиректор ООО&#160;МИР&#160;ДАННЫХ&#160;ИТ
                        </div>
                      </div>
                    </div>
                </div>
                <div class="development__title-wrapper">
                    <blockquote class="about-team__blockquote">
                        <h2 class="mission__quote-text head-2 text-primary">
                          Мы создали дружную команду специалистов, работающих в разных уголках России.
                        </h2>
                    </blockquote>

                    <div class="t-2 about-team__desc about-team__desc--tablet">
                      Наши сотрудники регулярно обучаются и подтверждают свою квалификацию с получением сертификатов. Учебный центр нашей компании помогает получить навыки и знания как новичкам, так и опытным специалистам.
                    </div>
                </div>
            </div>

            <div class="t-2 about-team__desc about-team__desc--mobile">
              Наши сотрудники регулярно обучаются и подтверждают свою квалификацию с получением сертификатов. Учебный центр нашей компании помогает получить навыки и знания как новичкам, так и опытным специалистам.
            </div>

            <div class="about-team__lead about-team__lead--mobile">
              <img class="about-team__avatar" src="/team/lead.png" />

              <div class="t-2 text-primary about-team__fio">
                Елена Витальена Константинова
              </div>
              <div class="t-2">
                Гендиректор ООО&#160;МИР&#160;ДАННЫХ&#160;ИТ
              </div>
            </div>

            <div class="about-team__list">
              <img class="about-team__avatar" src="/team/1.png" />
              <img class="about-team__avatar" src="/team/2.png" />
              <img class="about-team__avatar" src="/team/3.png" />
              <img class="about-team__avatar" src="/team/4.png" />
              <img class="about-team__avatar" src="/team/5.png" />
              <img class="about-team__avatar" src="/team/6.png" />
              <img class="about-team__avatar" src="/team/7.png" />
              <img class="about-team__avatar" src="/team/8.png" />
              <img class="about-team__avatar" src="/team/9.png" />
              <img class="about-team__avatar" src="/team/10.png" />
              <img class="about-team__avatar" src="/team/11.png" />
              <img class="about-team__avatar" src="/team/12.png" />
              <img class="about-team__avatar" src="/team/13.png" />
              <img class="about-team__avatar" src="/team/14.png" />
              <img class="about-team__avatar" src="/team/15.png" />
              <img class="about-team__avatar" src="/team/16.png" />
              <img class="about-team__avatar" src="/team/17.png" />
              <img class="about-team__avatar" src="/team/18.png" />
              <img class="about-team__avatar" src="/team/19.png" />
              <img class="about-team__avatar" src="/team/20.png" />
              <img class="about-team__avatar" src="/team/21.png" />
              <img class="about-team__avatar" src="/team/22.png" />
              <img class="about-team__avatar" src="/team/23.png" />
              <img class="about-team__avatar" src="/team/24.png" />
            </div>
        </div>
    </section>

    <section class="section gymn section--primary">
      <h2 class="head-2 text-white">К шестилетию компании у нас появился гимн, который вы можете прослушать</h2>

      <button type="button" class="btn btn--outline t-2 gymn__button">
          Прослушать гимн компании
      </button>
    </section>

    <section class="history">
      <div class="container">
        <div class="t-2 text-primary">
        История компании
      </div>
      <div class="history__blocks opener-wrap">
        <div class="history__block" id="block-1">
          <div class="history__main">
            <div class="history__date--close t-2 text-primary">2018</div>
            <div class="history__date--open head-2 text-white">2018</div>
            <button class="btn-icon opener history__toggle" data-target="#block-1"></button>
          </div>
          <div class="history__text t-2 text-white">
            Год основания компании МИР ДАННЫХ ИТ <br />
            Открытие центрального офиса в Москве <br />
            Внедрение ЭДО с заказчиками (Контур.Диадок) <br />
            Начало сотрудничества с крупными системными интеграторами: проекты в госсекторе и открытие коммерческого направления <br />
            Старт проектов по импортозамещению <br />
          </div>
        </div>

        <div class="history__block" id="block-2">
          <div class="history__main">
            <div class="history__date--close t-2 text-primary">2019</div>
            <div class="history__date--open head-2 text-white">2019</div>
            <button class="btn-icon opener history__toggle" data-target="#block-2"></button>
          </div>
          <div class="history__text t-2 text-white">
            Открытие офиса в Ростове-на-Дону <br />
            Старт проектов в банковском секторе <br />
            Получение лицензии ФСТЭК (№Л024-00107-00/00582622 от 11 сентября 2019 г.) <br />
            Получение лицензии ФСБ (ЛСЗ0016578 17477Н от 1 октября 2019 г.) <br />
            Открытие офиса информационной безопасности в Москве <br />
            Реестр МСП. Микропредприятие  с 10.01.2019 <br />
            Компания входит в реестр аккредитованных ИТ-компаний <br />
          </div>
        </div>

        <div class="history__block" id="block-3">
          <div class="history__main">
            <div class="history__date--close t-2 text-primary">2020</div>
            <div class="history__date--open head-2 text-white">2020</div>
            <button class="btn-icon opener history__toggle" data-target="#block-3"></button>
          </div>
          <div class="history__text t-2 text-white">
            Открытие офиса в Нижнем Новгороде <br />
            Реестр МСП. Малое предприятие  с 10.08.2020 <br />
          </div>
        </div>

        <div class="history__block" id="block-4">
          <div class="history__main">
            <div class="history__date--close t-2 text-primary">2021</div>
            <div class="history__date--open head-2 text-white">2021</div>
            <button class="btn-icon opener history__toggle" data-target="#block-4"></button>
          </div>
          <div class="history__text t-2 text-white">
           Получение лицензии на образовательную деятельность (Л035-01298-77/00180273 от 19 апреля 2021 г.) <br />
            открытие учебного центра <br />
            Оператор персональных данных (№77-21-018783 от 21.01.2021) <br />
            Переезд центрального офиса <br />
          </div>
        </div>

        <div class="history__block" id="block-5">
          <div class="history__main">
            <div class="history__date--close t-2 text-primary">2022</div>
            <div class="history__date--open head-2 text-white">2022</div>
            <button class="btn-icon opener history__toggle" data-target="#block-5"></button>
          </div>
          <div class="history__text t-2 text-white">
            Внедрение КЭДО с сотрудниками <br />
            Закрытие направления разработки <br />
            Получение аккредитации ЦБ <br />
          </div>
        </div>

        <div class="history__block" id="block-6">
          <div class="history__main">
            <div class="history__date--close t-2 text-primary">2023</div>
            <div class="history__date--open head-2 text-white">2023</div>
            <button class="btn-icon opener history__toggle" data-target="#block-6"></button>
          </div>
          <div class="history__text t-2 text-white">
            Оптимизация бизнеса, закрытие региональных офисов, переход на полностью удаленный формат работы.
          </div>
        </div>

        <div class="history__block" id="block-7">
          <div class="history__main">
            <div class="history__date--close t-2 text-primary">2024</div>
            <div class="history__date--open head-2 text-white">2024</div>
            <button class="btn-icon opener history__toggle" data-target="#block-7"></button>
          </div>
          <div class="history__text t-2 text-white">
            Выделение отдельного направления проектов по информационной безопасности
          </div>
        </div>
      </div>
      </div>
      
    </section>

    <section class="section section--white join-us">
      <div class="container">
        <div class="join-us__wrapper">
          <img class="join-us__star" src="/star-4.png" alt="star" />
          <div class="join-us__content">
            <h2 class="head-2 text-primary join-us__title">
              Станьте частью нашей команды
            </h2>
            <div class="t-2">
              Мы всегда готовы взять в команду талантливых и целеустремлённых сотрудников.
            </div>

            <button type="button" class="btn btn--primary t-2 join-us__button">
                Посмотреть вакансии
            </button>
          </div>
        </div>
        </div>
      </section>

    <%- footer %>
  </body>
</html>