<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link href="/src/style.css" rel="stylesheet" />
    <link href="/src/styles/admin.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-light p-5 font-manrope font-light">
    <header class="header section section--primary analytics-header">
        <%- headerNav %>
        <div class="container header__content">
            <div class="header__main">
                <img class="header__image header__image--mobile analytics-header__image" src="/cells-header-bg.png" alt="Ball" />

                <h1 class="head-1 header__title text-white">
                    Обслуживание и администрирование баз данных
                </h1>

                <button type="button" class="header__button btn btn--outline t-2">
                    Заказать аудит базы данных
                </button>
            </div>

            <img class="header__image header__image--desktop analytics-header__image" src="/analytics-header-img.png" alt="Ball" />
        </div>
    </header>

    <section class="section section--white">
      <div class="container">
        <div class="common-header">
          <div class="common-header__label t-2 text-primary">
            Нам доверяют
          </div>

          <div class="common-header__title-wrapper">
            <h2 class="head-2">
              13 лет работы на рынках России, Европы, СНГ, <span class="text-primary">включая федеральные проекты для госсектора</span>
            </h2>
          </div>
        </div>

        <div class="stats__grid">
          <div class="stats__item">
            <div class="stats__number font-roboto text-gradient t-3 bg-clip-text text-transparent">60+</div>
            <div class="stats__text t-2">Реализованных проекта</div>
          </div>
          
          <div class="stats__item">
            <div class="stats__number font-roboto text-gradient t-3 bg-clip-text text-transparent">100+</div>
            <div class="stats__text t-2">Террабайт данных на обслуживании</div>
          </div>
        </div>

        <h2 class="head-2">
          90%  банков и ритейлов теряли деньги <span class="text-primary">из-за медленной и некачественной работы баз данных</span>
        </h2>

        <div class="tasks__slider swiper" id="main-swiper">
          <div class="swiper-wrapper tasks__slider-wrapper">
            <div class="swiper-slide tasks__slide tasks__slide--gray">
              <div class="tasks__slide-content">
                <h3 class="tasks__slide-title t-1 text-primary">Разработка и тестирование</h3>
                <p class="tasks__slide-text t-2">
                  Технологические и эксплуатационные решения, учитывающие уникальность каждого бизнеса.
                </p>
              </div>
            </div>
            <div class="swiper-slide tasks__slide tasks__slide--2">
              <div class="tasks__slide-content">
                <h3 class="tasks__slide-title t-1 text-white">Удалённое администрирование</h3>
                <p class="tasks__slide-text t-2 text-white">
                  Баз данных Oracle Database, Microsoft SQL Server, MySQL, PostgreSQL.
                </p>
              </div>
            </div>
            <!-- <div class="swiper-slide tasks__slide">
              <div class="tasks__slide-content">
                <h3 class="tasks__slide-title t-1 text-white">Доступность данных</h3>
                <p class="tasks__slide-text t-2 text-white">
                  Обеспечение постоянного доступа к данным во избежание остановки бизнеса.
                </p>
              </div>
            </div> -->
            <div class="swiper-slide tasks__slide tasks__slide--primary">
              <div class="tasks__slide-content">
                <h3 class="tasks__slide-title t-1 text-white">Защита данных</h3>
                <p class="tasks__slide-text t-2 text-white">
                  Предотвращение потерь данных, подрывающих жизнеспособность бизнеса.
                </p>
              </div>
            </div>
            <div class="swiper-slide tasks__slide tasks__slide--gray">
              <div class="tasks__slide-content">
                <h3 class="tasks__slide-title t-1 text-primary">Минимизация рисков</h3>
                <p class="tasks__slide-text t-2">
                  Долгосрочное, стабильное обеспечение требуемых уровней обслуживания с учетом развития бизнеса без неожиданных больших затрат и разочарований.
                </p>
              </div>
            </div>
            <div class="swiper-slide tasks__slide tasks__slide--5">
              <div class="tasks__slide-content">
                <h3 class="tasks__slide-title t-1 text-white">Снижение расходов</h3>
                <p class="tasks__slide-text t-2 text-white">
                  Уменьшение затрат на развертывание, управление и поддержку для экономии корпоративных ресурсов.
                </p>
              </div>
            </div>
            <div class="swiper-slide tasks__slide tasks__slide--gray">
              <div class="tasks__slide-content">
                <h3 class="tasks__slide-title t-1 text-primary">Производительность</h3>
                <p class="tasks__slide-text t-2">
                  Достаточно короткое время отклика для эффективных бизнес-операций.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section--primary bd-cl-section">
      <div class="container bd-cl">
        <h2 class="head-2 text-white text-center">
          Проверьте свою базу данных
          по чек-листу и узнайте сильные
          и слабые места вашей системы
        </h2>

        <a class="bd-cl__button btn btn--outline t-2" href="#">
          Скачать презентацию
        </a>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="common-header">
          <div class="common-header__label t-2 text-primary">
            Преимущества работы с нами
          </div>

          <div class="common-header__title-wrapper">
            <h2 class="head-2">
              <span class="text-primary">Добавьте</span> до 30% <br /> к скорости <span class="text-primary">баз данных</span>
            </h2>

            <div class="t-1 text-primary bd-cl__text">
              Мы занимаемся реализацией проектов обслуживания, контроля и обновления баз данных для средних и крупных предприятий.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section--white">
      <div class="container">
        <h2 class="head-2 activities__title">
          Гарантия <span class="text-primary">результата</span>
        </h2>
        <div class="activities__list">
          <div class="activities__item oracle-activities__item">
            <div class="activities__number">
              <div class="activities__number-text font-roboto t-5">01</div>
            </div>
            <div class="activities__content">
              <div class="activities__text-2 head-3 text-primary">
                Собственная система мониторинга

              </div>
              <div class="activities__text-2 t-2">
                Используем систему, усиленную лучшим в классе решением Zabbix
              </div>
            </div>
          </div>

          <div class="activities__item oracle-activities__item">
            <div class="activities__number">
              <div class="activities__number-text font-roboto t-5">02</div>
            </div>
            <div class="activities__content">
              <div class="activities__text-2 head-3 text-primary">
                Круглосуточная служба поддержки


              </div>
              <div class="activities__text-2 t-2">
                Обратная связь от 15 минут по удобному для вас каналу связи
              </div>
            </div>
          </div>

          <div class="activities__item oracle-activities__item">
            <div class="activities__number">
              <div class="activities__number-text font-roboto t-5">03</div>
            </div>
            <div class="activities__content">
              <div class="activities__text-2 head-3 text-primary">
               Сильная команда профессионалов

              </div>
              <div class="activities__text-2 t-2">
                Сертификаты Oracle Database, Microsoft SQL Server, MySQL, PostgreSQL
              </div>
            </div>
          </div>

          <div class="activities__item oracle-activities__item">
            <div class="activities__number">
              <div class="activities__number-text font-roboto t-5">04</div>
            </div>
            <div class="activities__content">
              <div class="activities__text-2 head-3 text-primary">
                Проектирование и дизайн БД

              </div>
              <div class="activities__text-2 t-2">
                Максимальная производительность базы данных благодаря новому дизайну и архитектуре
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="realization">
      <div class="realization__container container">
        <div class="realization__content">
          <div class="realization__text">
            <h2 class="realization__title head-2">
              <span class="realization__title-text">Реализуем</span>
              <span class="realization__title-accent text-primary">все ваши идеи!</span>
            </h2>
          </div>
          
          <div class="realization__form">
            <h3 class="realization__form-title head-3">
              <span class="realization__form-accent text-primary">Оставьте контакты,</span> мы перезвоним
            </h3>
            <%- formBig %>
          </div>
        </div>
      </div>
    </section>
    <%- footer %>
  </body>
</html>