<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link href="/src/style.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-light p-5 font-manrope font-light">
    <header class="header section section--primary">
      <%- headerNav %>

      

      <div class="container contacts-header__wrapper">
        <img class="contacts-header__img header__image contacts-header__img--mobile" src="/star-4.png" alt="star" />

        <div class="header__main contacts-header__main">
          <h1 class="head-1 contacts-header__title">
            Контакты
          </h1>

          <div class="contacts-header__addresses">
              <div class="contacts-header__address">
                <div class="t-1 address__name">Главный офис</div>
                <div class="t-2">
                  г. Москва, ул. Щепкина, д.&nbsp;28, офис 311 <br />(м. Проспект Мира)
                </div>
              </div>

              <div class="contacts-header__address">
                <div class="t-1 address__name">Центр информационной безопасности</div>
                <div class="t-2">
                  г. Москва, ул. Полярная, д. 31В, стр. 1, офис 203 <br /> (м. Медведково)
                </div>
              </div>
            </div>
        </div>
        

        <img class="contacts-header__img header__image contacts-header__img--desktop" src="/star-4.png" alt="star" />
      </div>
    </header>

    <div class="section contacts__iframe">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7eb2c16c74e1bf48889fd26e0b2cdc2eec503bf9cd200dc491030be4466aaa00&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>
    </div>
    
    <section class="realization">
      <div class="realization__container container">
        <div class="realization__content">
          <div class="realization__text">
            <h2 class="realization__title head-2">
              <span class="realization__title-text">Реализуем</span>
              <span class="realization__title-accent text-primary">все ваши идеи!</span>
            </h2>
          </div>
          
          <div class="realization__form">
            <h3 class="realization__form-title head-3">
              <span class="realization__form-accent text-primary">Оставьте контакты,</span> мы перезвоним
            </h3>
            <%- formBig %>
          </div>
        </div>
      </div>
    </section>
    <%- footer %>
  </body>
</html>