<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link href="/src/style.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-light p-5 font-manrope font-light">
    <svg
      style="visibility: hidden; position: absolute"
      width="0"
      height="0"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
    >
      <defs>
        <filter id="round">
          <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
            result="goo"
          />
          <feComposite in="SourceGraphic" in2="goo" operator="atop" />
        </filter>
      </defs>
    </svg>

    <header class="rounded-5xl bg-primary p-8">
      <%- headerNav %>
      <div
        class="container mx-auto flex justify-between items-center mt-[88px]"
      >
        <div>
          <h1 class="text-h-1">
            <span class="text-white">Центр разработки</span> <br />
            <span class="text-neon">Мир данных ИТ</span>
          </h1>

          <button
            type="button"
            class="bg-tranparent border-1 border-neon rounded-btn text-neon hover:text-white hover:border-white px-[30px] py-5 mt-25 cursor-pointer"
          >
            Заказать консультацию
          </button>

          <div class="text-neon text-t-1 mt-27">
            ИТ аутсорсинг. Полный комплекс услуг по разработке ПО
          </div>
          <div class="text-neon text-t-1 mt-1">
            Функциональное тестирование высоконагруженных систем
          </div>
          <div class="text-neon text-t-1 mt-1">
            Разработка, производство и ТО криптографических средств
          </div>
          <div class="text-neon text-t-1 mt-1">
            Шифрование информации. Обслуживание и администрирование БД
          </div>
        </div>

        <img class="mix-blend-luminosity w-xl" src="/ball.png" />
      </div>
    </header>
    <main>
      <div class="rounded-5xl bg-white my-5 py-40">
        <div class="container mx-auto flex justify-between">
          <div>
            <div
              class="font-roboto text-gradient text-t-3 bg-clip-text text-transparent"
            >
              6+
            </div>
            <div class="text-t-2 ml-3">
              Лет на рынках России, <br />
              Европы и СНГ
            </div>
          </div>
          <div>
            <div
              class="font-roboto text-gradient text-t-3 bg-clip-text text-transparent"
            >
              50+
            </div>
            <div class="text-t-2 ml-3">
              Квалифицированных <br />
              специалистов
            </div>
          </div>
          <div>
            <div
              class="font-roboto text-gradient text-t-3 bg-clip-text text-transparent"
            >
              100%
            </div>
            <div class="text-t-2 ml-8">
              Гарантия безопасности <br />
              данных
            </div>
          </div>
          <div>
            <div
              class="font-roboto text-gradient text-t-3 bg-clip-text text-transparent"
            >
              50+
            </div>
            <div class="text-t-2 ml-3">
              Баз данных на <br />
              обслуживании
            </div>
          </div>
        </div>
      </div>

      <div class="rounded-5xl bg-white my-5 py-40">
        <div class="container mx-auto">
          <div class="flex mb-20">
            <div class="grow w-full">
              <span class="text-t-2 text-primary">
                Направления <br />
                деятельности
              </span>
            </div>

            <div class="grow w-full">
              <h2 class="text-h-2">
                <span class="text-primary">
                  Оказываем полный <br />
                  комплекс услуг <br />
                </span>
                <span>
                  по разработке и <br />
                  модернизации ПО
                </span>
              </h2>
            </div>
          </div>

          <div
            class="bg-gray-light rounded-2.5xl max-h-37 flex overflow-hidden"
          >
            <div class="grow w-full flex justify-center">
              <div
                class="font-roboto text-t-5 bg-clip-text text-transparent text-stroke-1 mt-[-29px]"
              >
                01
              </div>
            </div>
            <div class="grow w-full flex items-center text-t-1">
              Обслуживание и <br />
              администрирование БД
            </div>
          </div>

          <div
            class="bg-gray-light rounded-2.5xl max-h-37 flex overflow-hidden mt-5"
          >
            <div class="grow w-full flex justify-center">
              <div
                class="font-roboto text-t-5 bg-clip-text text-transparent text-stroke-1 mt-[-29px]"
              >
                02
              </div>
            </div>
            <div class="grow w-full flex items-center text-t-1">
              Комплекс услуг по <br />
              разработке ПО
            </div>
          </div>

          <div
            class="bg-gray-light rounded-2.5xl max-h-37 flex overflow-hidden mt-5"
          >
            <div class="grow w-full flex justify-center">
              <div
                class="font-roboto text-t-5 bg-clip-text text-transparent text-stroke-1 mt-[-29px]"
              >
                03
              </div>
            </div>
            <div class="grow w-full flex items-center text-t-1">
              ИТ аутсорсинг
            </div>
          </div>

          <div
            class="bg-gray-light rounded-2.5xl max-h-37 flex overflow-hidden mt-5"
          >
            <div class="grow w-full flex justify-center">
              <div
                class="font-roboto text-t-5 bg-clip-text text-transparent text-stroke-1 mt-[-29px]"
              >
                04
              </div>
            </div>
            <div class="grow w-full flex items-center text-t-1">
              Функциональное тестирование <br />
              высоконагруженных систем и ПО
            </div>
          </div>

          <div
            class="bg-gray-light rounded-2.5xl max-h-37 flex overflow-hidden mt-5"
          >
            <div class="grow w-full flex justify-center">
              <div
                class="font-roboto text-t-5 bg-clip-text text-transparent text-stroke-1 mt-[-29px]"
              >
                05
              </div>
            </div>
            <div class="grow w-full flex items-center text-t-1">
              Разработка, производство и <br />
              ТО криптографических <br />
              средств, ИС и ТС
            </div>
          </div>

          <div
            class="bg-gray-light rounded-2.5xl max-h-37 flex overflow-hidden mt-5"
          >
            <div class="grow w-full flex justify-center">
              <div
                class="font-roboto text-t-5 bg-clip-text text-transparent text-stroke-1 mt-[-29px]"
              >
                06
              </div>
            </div>
            <div class="grow w-full flex items-center text-t-1">
              Работы в области <br />
              шифрования информации
            </div>
          </div>
        </div>
      </div>

      <div class="rounded-5xl bg-white my-5 py-40">
        <div class="container mx-auto">
          <div class="flex mb-20">
            <div class="grow w-full">
              <span class="text-t-2 text-primary"> Разработка </span>
            </div>

            <div class="grow w-full">
              <h2 class="text-h-2">
                <span class="text-primary"> Услуги в области <br /> </span>
                <span> разработки ПО </span>
              </h2>
            </div>
          </div>

          <div class="flex pr-15">
            <div
              class="bg-(image:--pointer-bg-blue) bg-no-repeat bg-[length:100%_100%] relative grow min-w-[475px] h-[221px] flex items-center z-2"
            >
              <span class="text-t-1 text-white ml-[102px]">
                Разработка ТЗ, <br />
                подготовка <br />
                документации
              </span>
            </div>

            <div
              class="bg-(image:--pointer-bg-white) bg-no-repeat bg-[length:100%_100%] relative grow min-w-[564px] h-[220px] flex items-center z-1 ml-[-100px]"
            >
              <span class="text-t-1 ml-[244px]"> Разработка ПО </span>
            </div>

            <div
              class="bg-(image:--pointer-bg-gray) bg-no-repeat bg-[length:100%_100%] relative grow min-w-[543px] h-[221px] flex items-center z-0 ml-[-100px]"
            >
              <span class="text-t-1 ml-[227px]">
                Внедрение <br />
                созданного ПО
              </span>
            </div>
          </div>

          <div class="flex pr-15 mt-5">
            <div
              class="bg-(image:--pointer-bg-gray) bg-no-repeat bg-[length:100%_100%] relative grow min-w-[543px] h-[221px] flex items-center z-0 scale-x-[-1]"
            >
              <span class="text-t-1 scale-x-[-1] max-w-[259px] ml-[183px]">
                Комплексное тестирование на всех этапах разработки ПО
              </span>
            </div>

            <div
              class="bg-(image:--pointer-bg-white) bg-no-repeat bg-[length:100%_100%] relative grow min-w-[564px] h-[220px] flex items-center z-1 ml-[-100px] scale-x-[-1]"
            >
              <span class="text-t-1 ml-[162px] scale-x-[-1] max-w-[308px]"> Обучение пользователей ПО в компании заказчика </span>
            </div>

            <div
              class="bg-(image:--pointer-bg-blue) bg-no-repeat bg-[length:100%_100%] relative grow min-w-[475px] h-[221px] flex items-center z-2 ml-[-100px] scale-x-[-1]"
            >
              <span class="text-t-1 text-white ml-[107px] scale-x-[-1] max-w-[263px]">
                Поддержка и развитие готового решения
              </span>
            </div>
          </div>
        </div>
      </div>

      <div
        class="rounded-5xl bg-primary bg-(image:--bg-img-2) bg-cover my-5 py-40"
      >
        <div class="container mx-auto flex justify-between">
          <h2 class="text-h-2">
            <span class="text-white"> Оставьте данные, <br /> </span>
            <span class="text-neon">
              мы проконсультируем <br />
              вас по вопросам <br />
              сотрудничества
            </span>
          </h2>

          <%- form %>
        </div>
      </div>

      <div class="rounded-5xl bg-white my-5 py-40">
        <div class="container mx-auto">
          <div class="flex mb-20">
            <div class="grow w-full">
              <span class="text-t-2 text-primary"> Экспертность </span>
            </div>
            <div class="grow w-full">
              <h2 class="text-h-2">
                <span class="text-primary"> Обеспечиваем <br /> </span>
                <span> безопасность БД </span>
              </h2>
            </div>
          </div>

          <div class="grid grid-cols-3 gap-5">
            <div
              class="bg-primary rounded-3.5xl flex justify-center items-center pt-12 pb-20"
            >
              <img src="/27-2.png" class="w-[246px] mix-blend-luminosity" />
            </div>
            <div class="relative rounded-2.5xl border border-neon p-5 flex">
              <div
                class="absolute bg-white top-[-10px] px-2 text-t-2 text-neon z-2"
              >
                01
              </div>
              <div class="flex flex-col justify-between p-5 h-full">
                <div class="text-t-1 text-primary">
                  Сильная команда профессионалов
                </div>
                <div class="text-t-2 mt-auto">
                  Предоставим профессиональных архитекторов, аналитиков,
                  разработчиков, тестировщиков, администраторов БД, специалистов
                  сопровождения, экспертов.
                </div>
              </div>

              <div class="ml-7">
                <a href="#" class="block bg-primary rounded-full p-[7px]">
                  <img
                    src="/arrow-right.svg"
                    class="min-w-[14px] min-h-[14px]"
                  />
                </a>
              </div>
            </div>
            <div class="relative rounded-2.5xl border border-neon p-5 flex">
              <div
                class="absolute bg-white top-[-10px] px-2 text-t-2 text-neon z-2"
              >
                02
              </div>
              <div class="flex flex-col justify-between p-5 h-full">
                <div class="text-t-1 text-primary">
                  Круглосуточный мониторинг, проектирование и дизайн баз данных
                </div>
                <div class="text-t-2 mt-auto">
                  Используем собственную систему мониторинга, усиленную лучшим в
                  классе решением Zabbix. Усовершенствованный дизайн,
                  архитектура и планирование обеспечат максимальную
                  производительность и эффективность ваших БД.
                </div>
              </div>

              <div class="ml-7">
                <a href="#" class="block bg-primary rounded-full p-[7px]">
                  <img
                    src="/arrow-right.svg"
                    class="min-w-[14px] min-h-[14px]"
                  />
                </a>
              </div>
            </div>
            <div class="relative rounded-2.5xl border border-neon p-5 flex">
              <div
                class="absolute bg-white top-[-10px] px-2 text-t-2 text-neon z-2"
              >
                03
              </div>
              <div class="flex flex-col justify-between p-5 h-full">
                <div class="text-t-1 text-primary">
                  Оптимизация производительности и доступности БД, аудит,
                  апгрейды, миграция
                </div>
                <div class="text-t-2 mt-auto">
                  Проводим аудит мощностей, производительности и безопасности.
                  Команда высококвалифицированных администраторов оптимизирует
                  БД.
                </div>
              </div>

              <div class="ml-7">
                <a href="#" class="block bg-primary rounded-full p-[7px]">
                  <img
                    src="/arrow-right.svg"
                    class="min-w-[14px] min-h-[14px]"
                  />
                </a>
              </div>
            </div>
            <div
              class="bg-primary rounded-3.5xl flex justify-center items-center py-16"
            >
              <img src="/27-3.png" class="w-[246px] mix-blend-luminosity" />
            </div>
            <div class="relative rounded-2.5xl border border-neon p-5 flex">
              <div
                class="absolute bg-white top-[-10px] px-2 text-t-2 text-neon z-2"
              >
                04
              </div>
              <div class="flex flex-col justify-between p-5 h-full">
                <div class="text-t-1 text-primary">
                  Круглосуточная поддержка
                </div>
                <div class="text-t-2 mt-auto">
                  Служба поддержки пользователей работает круглосуточно. Вы
                  можете выбрать вид связи с нашей командой.
                </div>
              </div>

              <div class="ml-7">
                <a href="#" class="block bg-primary rounded-full p-[7px]">
                  <img
                    src="/arrow-right.svg"
                    class="min-w-[14px] min-h-[14px]"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rounded-5xl bg-white my-5 py-40">
        <div class="container mx-auto">
          <span class="text-t-2 text-primary"> Цель компании </span>
          <div class="w-full flex flex-col items-center justify-center">
            <img class="w-[374px] mb-15" src="/photo.png" />

            <div
              class="relative text-t-1 text-primary before:absolute before:top-[-26%] before:left-[-9%] before:font-roboto before:text-t-3 before:content-['“'] after:content-['“'] after:absolute after:bottom-[-28%] after:right-[7%] after:font-roboto after:text-t-3 after:-scale-100 max-w-[671px]"
            >
              Основная цель нашей компании — Выявление «узких мест» и
              всесторонняя оптимизация, приводящая к продуктивному использованию
              ресурсов, высокой доступности и повышению&nbsp;качества
              обслуживания пользователей.
            </div>
            <div class="max-w-[414px]">
              <div class="text-t-2 my-5">
                Разработка, усовершенствование и адаптирование программных
                продуктов различного назначения, для широкого круга предметных
                областей в соответствии с требованиями, задачами и целями
                заказчика.
              </div>
              <div class="flex justify-between">
                <span class="text-t-2 text-primary"
                  >Елена Витальена Константинова</span
                >
                <span class="text-t-2 text-end"
                  >Генеральный директор ООО&nbsp;МИР&nbsp;ДАННЫХ&nbsp;ИТ</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-40">
        <div class="container mx-auto">
          <div class="max-w-[969px] text-h-2 mb-20">
            <span class="text-primary">Мы построили расширяемую модель бизнеса:</span> от уровня внедрения и сопровождения до контроля качества
          </div>

          <div class="h-[377px] relative rounded-2.5xl bg-white p-10 flex flex-col justify-between">
            <div class="text-t-1 text-primary ">Сопровождение</div>
            <div class="flex justify-between">
              <div class="text-t-2 max-w-[278px]">Процессы сопровождения созданы по лучшим практикам ИT-компаний и используют систему ITIL.</div>
              <img class="w-[70px] h-[70px]" src="/triangle.png" alt="" />
            </div>

            <div class="absolute top-0 right-0 flex cursor-pointer">
              <div class="bg-primary text-white text-t-2 w-[260px] h-[54px] flex justify-center items-center rounded-tr-2.5xl z-3 mr-[-20px]">
                Поддержка 24/7
              </div>
              <div class="bg-gray-light text-primary text-t-2 w-[280px] h-[54px] flex justify-center items-center rounded-tr-2.5xl z-2 mr-[-20px]">
                Контроль на всех этапах
              </div>
              <div class="bg-primary text-white text-t-2 w-[280px] h-[54px] flex justify-center items-center rounded-tr-2.5xl z-1">
                Система мониторинга
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rounded-5xl bg-white my-5 py-40">
        <div class="container mx-auto">
          <div class="flex mb-20">
            <div class="grow w-full">
              <span class="text-t-2 text-primary"> Почему мы </span>
            </div>

            <div class="grow w-full">
              <h2 class="text-h-2 max-w-[530px]">
                <span class="text-primary">Почему Вам выгодно </span> с нами работать?
              </h2>
            </div>
          </div>

          <div class="flex gap-5 h-[98px]">
            <div class="rounded-2.5xl min-w-[124px] border border-primary flex items-center justify-center">
              <div class="text-primary text-h-3">01</div>
            </div>

            <div class="rounded-2.5xl grow w-full px-[54px] bg-gray-light flex items-center">
                <div class="text-t-1 text-primary w-full">
                  <div class="max-w-[264px]">Помогаем воплотить в жизнь все ваши идеи</div>
                </div>

                <div class="text-t-2 w-full pr-[250px]">
                  <div class="max-w-[351px]">Мы уже внедрили ряд уникальных разработок в бизнес-процессы наших клиентов.</div>
                </div>
            </div>
          </div>

          <div class="flex gap-5 h-[98px] mt-[21px]">
            <div class="rounded-2.5xl min-w-[124px] border border-primary flex items-center justify-center">
              <div class="text-primary text-h-3">02</div>
            </div>

            <div class="rounded-2.5xl grow w-full px-[54px] bg-gray-light flex items-center">
                <div class="text-t-1 text-primary w-full">
                  <div class="max-w-[206px]">Замена штатного сотрудника</div>
                </div>

                <div class="text-t-2 w-full pr-[250px]">
                  <div class="max-w-[568px]">Вам не придется нанимать специалиста по БД Oracle Database,
                    Microsoft SQL Server, MySQL, PostgreSQL. Сертифицированные специалисты возьмут на себя всё обслуживание ваших БД.</div>
                </div>
            </div>
          </div>

          <div class="flex gap-5 h-[98px] mt-[21px]">
            <div class="rounded-2.5xl min-w-[124px] border border-primary flex items-center justify-center">
              <div class="text-primary text-h-3">03</div>
            </div>

            <div class="rounded-2.5xl grow w-full px-[54px] bg-gray-light flex items-center">
                <div class="text-t-1 text-primary w-full">
                  <div class="max-w-[342px]">Базы данных всегда находятся в вашем доступе</div>
                </div>

                <div class="text-t-2 w-full pr-[250px]">
                  <div class="max-w-[570px]">Оптимизируем ваши Базы Данных Oracle Database, Microsoft SQL Server,
                    MySQL, PostgreSQL до идеального состояния и обеспечим бесперебойную работу. Ваши базы данных надежны и всегда доступны.</div>
                </div>
            </div>
          </div>

          <div class="flex gap-5 h-[98px] mt-[21px]">
            <div class="rounded-2.5xl min-w-[124px] border border-primary flex items-center justify-center">
              <div class="text-primary text-h-3">04</div>
            </div>

            <div class="rounded-2.5xl grow w-full px-[54px] bg-gray-light flex items-center">
                <div class="text-t-1 text-primary w-full">
                  <div class="max-w-[342px]">Решаем задачи любой сложности</div>
                </div>

                <div class="text-t-2 w-full pr-[250px]">
                  <div class="max-w-[257px]">Работаем с любыми проектами: от простых до сложных.</div>
                </div>
            </div>
          </div>

          <div class="flex gap-5 h-[98px] mt-[21px]">
            <div class="rounded-2.5xl min-w-[124px] border border-primary flex items-center justify-center">
              <div class="text-primary text-h-3">05</div>
            </div>

            <div class="rounded-2.5xl grow w-full px-[54px] bg-gray-light flex items-center">
                <div class="text-t-1 text-primary w-full">
                  <div class="max-w-[342px]">Подбираем подходящий вариант сотрудничества</div>
                </div>

                <div class="text-t-2 w-full pr-[250px]">
                  <div class="max-w-[200px]">Аутсорсинг, аутстаффинг,
                    классический подход.</div>
                </div>
            </div>
          </div>

          <div class="flex gap-5 h-[98px] mt-[21px]">
            <div class="rounded-2.5xl min-w-[124px] border border-primary flex items-center justify-center">
              <div class="text-primary text-h-3">06</div>
            </div>

            <div class="rounded-2.5xl grow w-full px-[54px] bg-gray-light flex items-center">
                <div class="text-t-1 text-primary w-full">
                  <div class="max-w-[217px]">Тарифные планы для всех случаев</div>
                </div>

                <div class="text-t-2 w-full pr-[250px]">
                  <div class="max-w-[508px]">Работаем с любым объёмом. Стоимость работ по каждому
                    проекту рассчитывается индивидуально.</div>
                </div>
            </div>
          </div>

          <div class="flex gap-5 h-[98px] mt-[21px]">
            <div class="rounded-2.5xl min-w-[124px] border border-primary flex items-center justify-center">
              <div class="text-primary text-h-3">07</div>
            </div>

            <div class="rounded-2.5xl grow w-full px-[54px] bg-gray-light flex items-center">
                <div class="text-t-1 text-primary w-full">
                  <div class="max-w-[280px]">Опыт успешной работы в России и странах СНГ</div>
                </div>

                <div class="text-t-2 w-full pr-[250px]">
                  <div class="max-w-[449px]">Мы работаем над проектами независимо
                    от местоположения заказчика.</div>
                </div>
            </div>
          </div>

          <div class="flex gap-5 h-[98px] mt-[21px]">
            <div class="rounded-2.5xl min-w-[124px] border border-primary flex items-center justify-center">
              <div class="text-primary text-h-3">08</div>
            </div>

            <div class="rounded-2.5xl grow w-full px-[54px] bg-gray-light flex items-center">
                <div class="text-t-1 text-primary w-full">
                  <div class="max-w-[275px]">Гарантия безопасности данных</div>
                </div>

                <div class="text-t-2 w-full pr-[250px]">
                  <div class="max-w-[315px]">Обеспечим безопасность и целостность ваших Баз Данных.</div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rounded-5xl bg-white my-5 py-40">
        <div class="container mx-auto">
          <div class="flex mb-20">
            <div class="grow w-full">
              <span class="text-t-2 text-primary"> Задачи компании</span>
            </div>

            <div class="grow w-full">
              <h2 class="text-h-2 max-w-[605px]">
                <span class="text-primary">Мы гарантируем обеспечить 
                </span> заказчику:
              </h2>
            </div>
          </div>

          <div class="flex justify-end gap-[0.625rem] mb-5">
            <div id="swiper-arrow-left" class="flex justify-center items-center size-[1.75rem] border rounded-full border-neon-light cursor-pointer">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1016 6.08204L3.06594 6.08204L7.45034 1.5799C7.80074 1.2201 7.80074 0.629655 7.45034 0.269853C7.09995 -0.0899493 6.53393 -0.0899494 6.18354 0.269853L0.262794 6.34959C-0.0875995 6.70939 -0.0875996 7.29061 0.262793 7.65041L6.18354 13.7301C6.53393 14.09 7.09995 14.09 7.45034 13.7301C7.80074 13.3703 7.80074 12.7891 7.45034 12.4293L3.06594 7.92718L13.1016 7.92718C13.5957 7.92718 14 7.51203 14 7.00461C14 6.4972 13.5957 6.08204 13.1016 6.08204Z" fill="#A1EAF7"/>
              </svg>                
            </div>

            <div id="swiper-arrow-right" class="flex justify-center items-center size-[1.75rem] rounded-full bg-primary cursor-pointer">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.898444 7.91796L10.9341 7.91796L6.54966 12.4201C6.19926 12.7799 6.19926 13.3703 6.54965 13.7301C6.90005 14.0899 7.46607 14.0899 7.81646 13.7301L13.7372 7.65041C14.0876 7.29061 14.0876 6.70939 13.7372 6.34959L7.81646 0.269852C7.46607 -0.0899502 6.90005 -0.0899502 6.54966 0.269852C6.19926 0.629654 6.19926 1.21087 6.54966 1.57068L10.9341 6.07282L0.898444 6.07282C0.404299 6.07282 -2.96952e-07 6.48797 -3.41312e-07 6.99539C-3.85671e-07 7.5028 0.404299 7.91796 0.898444 7.91796Z" fill="white"/>
              </svg>             
            </div>
          </div>
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide bg-gray-light rounded-3.5xl max-w-[335px] pt-5 pb-17 px-6">
                <div class="flex justify-between flex-col h-full">
                  <div class="text-t-1 text-primary">Разработка и тестирование</div>
                  <div class="text-t-2">Технологические и эксплуатационные
                    решения, учитывающие уникальность
                    каждого бизнеса.
                  </div>
                </div>
              </div>
              <div class="swiper-slide bg-(image:--slider-bg-1) rounded-3.5xl text-white max-w-[335px] pt-5 pb-17 px-6">
                <div class="flex justify-between flex-col h-full">
                  <div class="text-t-1">Удалённое администрирование</div>
                  <div class="text-t-2">Баз данных Oracle Database, Microsoft
                    SQL Server, MySQL, PostgreSQL.
                  </div>
                </div>
              </div>
              <div class="swiper-slide bg-(image:--slider-bg-2) rounded-3.5xl text-white max-w-[335px] pt-5 pb-17 px-6">
                <div class="flex justify-between flex-col h-full">
                  <div class="text-t-1">Доступность данных</div>
                  <div class="text-t-2">Обеспечение постоянного доступа к данным во избежание остановки бизнеса.
                  </div>
                </div>
              </div>
              <div class="swiper-slide bg-primary rounded-3.5xl text-white max-w-[335px] pt-5 pb-17 px-6">
                <div class="flex justify-between flex-col h-full">
                  <div class="text-t-1">Защита данных</div>
                  <div class="text-t-2">
                    Предотвращение потерь данных, подрывающих жизнеспособность бизнеса.
                  </div>
                </div>
              </div>
              <div class="swiper-slide bg-gray-light rounded-3.5xl max-w-[335px] pt-5 pb-17 px-6">
                <div class="flex justify-between flex-col h-full">
                  <div class="text-t-1 text-primary">Минимизация рисков</div>
                  <div class="text-t-2">
                    Долгосрочное, стабильное
                    обеспечение требуемых уровней обслуживания с учетом развития бизнеса без неожиданных больших затрат и разочарований.
                  </div>
                </div>
              </div>
              <div class="swiper-slide bg-(image:--slider-bg-2) rounded-3.5xl text-white max-w-[335px] pt-5 pb-17 px-6">
                <div class="flex justify-between flex-col h-full">
                  <div class="text-t-1">Снижение расходов</div>
                  <div class="text-t-2">
                    Уменьшение затрат на развертывание, управление и поддержку для экономии
корпоративных ресурсов.
                  </div>
                </div>
              </div>
              <div class="swiper-slide bg-gray-light rounded-3.5xl max-w-[335px] pt-5 pb-17 px-6">
                <div class="flex justify-between flex-col h-full">
                  <div class="text-t-1 text-primary">Производительность</div>
                  <div class="text-t-2">
                    Достаточно короткое время отклика для эффективных бизнес-операций.
                  </div>
                </div>
              </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>

      <div class="rounded-5xl bg-white my-5 py-40">
        <div class="container mx-auto">
          <div class="flex mb-20">
            <div class="grow w-full">
              <span class="text-t-2 text-primary"> Лицензии</span>
            </div>

            <div class="grow w-full">
              <h2 class="text-h-2 max-w-[572px]">
                <span class="text-primary">Мы имеем
                </span> лицензии
              </h2>
            </div>
          </div>

          <div class="flex gap-5">
            <div class="border border-primary rounded-2.5xl px-5 flex w-full h-[117px] pb-[25px]">
              <div class="min-w-[237px]">
                <div class="text-t-2 mt-[21px]">СМП</div>
              </div>

              <div class="text-t-2 text-primary mt-5">
                Субъект малого предпринимательства <br />
                Заключаем NDA <br />
                Применяем УСН доходы <br />
                Используем ЭДО: «Контур.Диадок», «Такском»
              </div>
            </div>

            <div class="border border-primary rounded-2.5xl px-5 flex w-full h-[117px] pb-[25px]">
              <div class="min-w-[237px]">
                <div class="text-t-2 mt-[21px]">Лицензия ФСТЭК</div>
              </div>

              <div class="text-t-2 text-primary mt-5">
                № Л024-00107-00/00582622 <br />
                №3642 от 11 сентября 2019 г.
              </div>
            </div>
          </div>

          <div class="flex gap-5 mt-5">
            <div class="border border-primary rounded-2.5xl px-5 flex w-full h-[117px] pb-[25px]">
              <div class="min-w-[237px]">
                <div class="text-t-2 mt-[21px]">Лицензия ФСБ</div>
              </div>

              <div class="text-t-2 text-primary mt-5">
                №ЛСЗ0016578 17477Н <br />
                от 1 октября 2019 г.
              </div>
            </div>

            <div class="border border-primary rounded-2.5xl px-5 flex w-full h-[117px] pb-[25px]">
              <div class="min-w-[237px]">
                <div class="text-t-2 mt-[21px] max-w-[157px]">Лицензия на осуществление образовательной деятельности</div>
              </div>

              <div class="text-t-2 text-primary mt-5">
                № 041374 от 19.04.2021
              </div>
            </div>
          </div>

          <div class="flex gap-5 mt-5">
            <div class="border border-primary rounded-2.5xl px-5 flex w-full h-[117px] pb-[25px]">
              <div class="min-w-[237px]">
                <div class="text-t-2 mt-[21px] max-w-[168px]">Оператор персональных данных Роскомнадзора</div>
              </div>

              <div class="text-t-2 text-primary mt-5">
                № 77-21-018783, <br />
                Приказ № 16 от 25.01.2021
              </div>
            </div>

            <div class="w-full px-5"></div>
          </div>

        </div>
      </div>

      <div class="py-40">
        <div class="container mx-auto">
          <div class="flex">
            <div class="grow w-full text-h-2">
              <div>Реализуем</div>
              <div class="text-primary">все ваши идеи!</div>
            </div>

            <div class="grow w-full">
              <h3 class="text-h-3 mb-5">
                <span class="text-primary">Оставьте контакты,</span> мы перезвоним
              </h3>

              <%- formBig %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- footer %>
  </body>
</html>
