<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link href="/src/style.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-light p-5 font-manrope font-light">
    <header class="header section section--primary analytics-header">
        <%- headerNav %>
        <div class="container header__content">
            <div class="header__main">
                <img class="header__image header__image--mobile oracle-header__image" src="/rings-mobile.png" alt="Ring" />

                <h1 class="head-1 header__title text-white oracle-header__title">
                    Анализ и диагностика
причин неудовлет-ворённости производительности систем на базе ПО Oracle
                </h1>

                <h1 class="head-2 header__title text-white oracle-header__title oracle-header__title--laptop">
                    Анализ и диагностика причин неудовлетворительной производительности систем на базе ПО Oracle
                </h1>

                <button type="button" class="header__button oracle-header__button btn btn--outline t-2">
                    Заказать аудит базы данных
                </button>
            </div>

            <img class="header__image header__image--desktop oracle-header__image" src="/rings-desktop.png" alt="Ring" />
        </div>
    </header>

    <section class="why-us section section--white">
  <div class="why-us__container container">
    <div class="why-us__header">
      <div class="why-us__label">
        <span class="why-us__label-text t-2 text-primary">Виды услуг</span>
      </div>
      <div class="why-us__title-wrapper">
        <h2 class="why-us__title head-2 oracle-why-us__title">
          <span class="why-us__title-primary text-primary">Выполняем</span>
          работы по настройке производительности
        </h2>
        <div class="head-3 why-us__sub-title text-primary">
          От диагностики и рекомендаций до&#160;внедрения исправлений
        </div>
      </div>
    </div>

    <div class="services why-us__list">
      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">01</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Консультационная помощь и выполнение работ на стороне клиента по установке и конфигурированию операционных систем и программного обеспечения Oracle для его оптимально-производительной работы.
          </div>
        </div>
      </div>

      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">02</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Инсталляция высокодоступных и надежных решений на базе технологии Real Application Clusters, Oracle Data Guard, GoldenGate.
          </div>
        </div>
      </div>

      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">03</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Настройка оптимальных процедур резервного копирования и восстановления баз данных Oracle либо предоставление рекомендаций по их настройке.
          </div>
        </div>
      </div>

      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">04</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Межплатформенная миграция баз данных Oracle, настройки совместимости приложений, помощь с апргрейдом версий.
          </div>
        </div>
      </div>

      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">05</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Установка и рекомендации по настройке систем управления и мониторинга на базе Grid Control и Oracle Enterprise Manager.
          </div>
        </div>
      </div>

      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">06</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Помощь с восстановлением баз данных Oracle после аварийных ситуаций, помощь с извлечением данных.
          </div>
        </div>
      </div>

      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">07</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Настройка и консультации по гетерогенным сервисам Oracle GoldenGate.
          </div>
        </div>
      </div>

      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">08</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Настройка и консультации по ПО Oracle TimesTen.
          </div>
        </div>
      </div>

      <div class="why-us__item">
        <div class="why-us__number">
          <div class="why-us__number-text head-3 text-primary">09</div>
        </div>
        <div class="why-us__content">
          <div class="t-2 text-primary why-us__spacer">
            Выполнение работ по администрированию баз данных Oracle на площадке клиента либо удаленно, в течение предусмотренного контрактом времени.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--primary">
  <div class="container">
    <div class="expertise__header text-white diagnostic__header">
      <div class="expertise__label">
        <span class="expertise__label-text t-2">Бесплатная услуга</span>
      </div>
      <div class="expertise__title-wrapper">
        <h2 class="expertise__title head-2">
          <span class="expertise__title-primary">Диагностика системы</span>
        </h2>
      </div>
    </div>

    <div class="diagnostic__blocks">
      <div class="diagnostic__block">
        <div class="diagnostic__number t-3">
          1
        </div>

        <div class="diagnostic__text t-1">
          Выезжаем на площадку клиента
        </div>
      </div>

      <div class="diagnostic__block">
        <div class="diagnostic__number t-3">
          2
        </div>

        <div class="diagnostic__text t-1">
          Выясняем проблемные моменты в системе
        </div>
      </div>

      <div class="diagnostic__block">
        <div class="diagnostic__number t-3">
          3
        </div>

        <div class="diagnostic__text t-1">
          Делаем обследование и выносим заключение
        </div>
      </div>
    </div>
    
  </div>
</section>

<section class="expertise section section--white">
  <div class="expertise__container container">
    <div class="expertise__header">
      <div class="expertise__label">
        <span class="expertise__label-text t-2 text-primary">Виды услуг</span>
      </div>
      <div class="expertise__title-wrapper">
        <h2 class="expertise__title head-2">
          <span class="expertise__title-primary">Аудит системы</span>
        </h2>
      </div>
    </div>

    <div class="activities__list">
      <div class="activities__item oracle-activities__item">
        <div class="activities__number">
          <div class="activities__number-text font-roboto t-5">01</div>
        </div>
        <div class="activities__content">
          <div class="activities__text t-1">
            Выезжаем на площадку&#160;клиента
          </div>
        </div>
      </div>

      <div class="activities__item oracle-activities__item">
        <div class="activities__number">
          <div class="activities__number-text font-roboto t-5">02</div>
        </div>
        <div class="activities__content">
          <div class="activities__text t-1">
            Выясняем проблемные моменты в системе и начинаем аудит с поиска способов оптимизации в указанных модулях ПО
          </div>
        </div>
      </div>

      <div class="activities__item oracle-activities__item">
        <div class="activities__number">
          <div class="activities__number-text font-roboto t-5">03</div>
        </div>
        <div class="activities__content">
          <div class="activities__text t-1">Делаем комплексное обследование узких мест системы и выносим заключение о её оптимизации</div>
        </div>
      </div>

      <div class="activities__item oracle-activities__item">
        <div class="activities__number">
          <div class="activities__number-text font-roboto t-5">04</div>
        </div>
        <div class="activities__content">
          <div class="activities__text t-1">
            В акте аудита мы указываем программные модули, процедуры, функции и запросы, требующие первоначального тюнинга
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rates section section--primary">
  <div class="container">
    <div class="rate-title head-2">
      Услуга по администрированию СУБД Oracle и оптимизации прикладного кода
    </div>

    <div class="rate-list">
      <div class="rate">
        <div class="rate-name text-neon t-1">
          тариф с поддержкой
        </div>
        <div class="rate__time diagnostic__number t-3">
          8/5
        </div>

        <div class="rate__description">
          <p class="t-2">
            Поддержка работает с 9-30 до 18-00 c понедельника по пятницу, решает вопросы по производительности системы, администрирования системы, а также  вопросы, связанные с продуктами компании Oracle.
          </p>

          <p class="t-2">
            Поддержка осуществляется как удаленно через сайт поддержки, по телефону, так и с присутствием экспертов на площадке заказчика.
          </p>

          <p class="t-2">
            Администраторы Oracle, предоставляемые компанией обладают сертификатами:
          </p>
        </div>

        <div class="rate__cert-list">
          <div class="rate__cert t-2">
            Oracle certified master
          </div>

          <div class="rate__cert t-2">
            Oracle tuning expert
          </div>

          <div class="rate__cert t-2">
            Oracle real application cluster expert
          </div>
        </div>

        <div class="rate__description rate__description--last">
          <p class="t-2">
            Стоимость зависит от количества систем и продуктов, по которым необходимо получать консультации.
          </p>

          <p class="t-2">
          Аудит включен в стоимость услуги и выполняется&#160;ежеквартально.
          </p>
        </div>
      </div>

      <div class="rate">
        <div class="rate-name text-neon t-1">
          тариф с поддержкой
        </div>
        <div class="rate__time diagnostic__number t-3">
          24/7
        </div>

        <div class="rate__description">
          <p class="t-2">
            Поддержка работает круглосуточно, решает вопросы по производительности системы, администрированию системы, а так же любые вопросы, связанные с продуктами компании Oracle.
          </p>

          <p class="t-2">
            Поддержка осуществляется как удаленно через сайт поддержки, по телефону, так и с присутствием экспертов на площадке заказчика.
          </p>

          <p class="t-2">
            Администраторы oracle, предоставляемые компанией, обладают сертификатами:
          </p>
        </div>

        <div class="rate__cert-list">
          <div class="rate__cert t-2">
            Oracle certified master
          </div>

          <div class="rate__cert t-2">
            Oracle tuning expert
          </div>

          <div class="rate__cert t-2">
            Oracle real application cluster expert
          </div>
        </div>

        <div class="rate__description rate__description--last">
          <p class="t-2">
            Стоимость зависит от количества систем и продуктов, по которым необходимо получать консультации.
          </p>

          <p class="t-2">
          Аудит включен в стоимость услуги и выполняется&#160;ежеквартально.
          </p>
        </div>
      </div>
    </div>

    
  </div>
</section>

    <section class="realization">
      <div class="realization__container container">
        <div class="realization__content">
          <div class="realization__text">
            <h2 class="realization__title head-2">
              <span class="realization__title-text">Реализуем</span>
              <span class="realization__title-accent text-primary">все ваши идеи!</span>
            </h2>
          </div>
          
          <div class="realization__form">
            <h3 class="realization__form-title head-3">
              <span class="realization__form-accent text-primary">Оставьте контакты,</span> мы перезвоним
            </h3>
            <%- formBig %>
          </div>
        </div>
      </div>
    </section>

    <%- footer %>
  </body>
</html>