<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link href="/src/style.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-light p-5 font-manrope font-light">
    <header class="header section section--primary analytics-header">
        <%- headerNav %>
        <div class="container header__content">
            <div class="header__main">
                <img class="header__image header__image--mobile analytics-header__image" src="/disks.png" alt="Ball" />

                <h1 class="head-1 header__title text-white security-header__title">
                    Оценка защищённости ресурсов
                </h1>

                <button type="button" class="header__button security-header__button btn btn--outline t-2">
                    Заказать аудит базы данных
                </button>
            </div>

            <img class="header__image header__image--desktop analytics-header__image" src="/disks.png" alt="Ball" />
        </div>
    </header>

    <section class="expertise section section--white">
      <div class="expertise__container container">
        <div class="expertise__header">
          <div class="expertise__label">
            <span class="expertise__label-text t-2 text-primary">Услуги</span>
          </div>
          <div class="expertise__title-wrapper analytics__title">
            <h2 class="expertise__title head-2 text-primary">
              Мы проводим мероприятия по оценке защищенности ресурсов при разработке ПО
            </h2>
          </div>
        </div>

        <div class="expertise__grid">
          <div class="expertise__card expertise__card--text security__card">
            <div class="expertise__card-number">01</div>
            <div class="expertise__card-content">
              <h3 class="expertise__card-title t-1 text-primary">Аудит инфраструктуры</h3>
              <p class="expertise__card-description t-2">
                Необходим для разработки программного обеспечения
              </p>
            </div>
          </div>

          <div class="expertise__card expertise__card--text security__card">
            <div class="expertise__card-number">02</div>
            <div class="expertise__card-content">
              <h3 class="expertise__card-title t-1 text-primary">
                Определение потенциальных векторов угроз
              </h3>
              <p class="expertise__card-description t-2">
                Могут привести к появлению вредоносного кода в инфраструктуре заказчика или утечки конфиденциальной информации
            </div>
          </div>

          <div class="expertise__card expertise__card--text security__card">
            <div class="expertise__card-number">03</div>
            <div class="expertise__card-content">
              <h3 class="expertise__card-title t-1 text-primary">
                Разработка рекомендаций для нейтрализации рисков заражения
              </h3>
              <p class="expertise__card-description t-2">
                Разработка рекомендаций для нейтрализации рисков заражения вредоносным программным обеспечением и/или утечки информации
              </p>
            </div>
          </div>

          <div class="expertise__card expertise__card--text security__card">
            <div class="expertise__card-number">04</div>
            <div class="expertise__card-content">
              <h3 class="expertise__card-title t-1 text-primary">Проведение тестирования на проникновение инфраструктуры</h3>
              <p class="expertise__card-description t-2">
                Сетевого периметра,
                Сетевыхустройств и протоколов
                Беспроводных сетей операционных систем
                Систем управления базамиданных средств виртуализации
                Средств контейнеризации
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>

     <section class="realization">
      <div class="realization__container container">
        <div class="realization__content">
          <div class="realization__text">
            <h2 class="realization__title head-2">
              <span class="realization__title-text">Реализуем</span>
              <span class="realization__title-accent text-primary">все ваши идеи!</span>
            </h2>
          </div>
          
          <div class="realization__form">
            <h3 class="realization__form-title head-3">
              <span class="realization__form-accent text-primary">Оставьте контакты,</span> мы перезвоним
            </h3>
            <%- formBig %>
          </div>
        </div>
      </div>
    </section>

    <%- footer %>
  </body>
</html>