.bd-cl-section {
    background-image: url("/bd_cl_bg--mobile.png");
    background-size: cover;
}

.bd-cl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.bd-cl__text {
    margin-top: 10px;
}

.activities__title {
    margin-bottom: 40px;
}

.activities__text-2 + .activities__text-2 {
    margin-top: 10px;
}