.bd-cl-section {
    background-image: url("/bd_cl_bg--mobile.png");
    background-size: cover;
}

.bd-cl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.bd-cl__text {
    margin-top: 10px;
}

.activities__title {
    margin-bottom: 40px;
}

.activities__text-2 + .activities__text-2 {
    margin-top: 10px;
}

.admin__stats {
    margin-top: 40px;
    margin-bottom: 80px;
}

.admin-slider {
    height: 200px;
}

.advanse-slider {
    height: 200px;
}

.admin-slide__avatar {
    width: 73px;
    height: 73px;
}

.admin-slide__header {
    display: flex;
    justify-content: space-between;
}

.admin-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-gray-5);
    color: var(--color-primary);
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}

.admin-slide--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.admin-slide--primary-light {
    background-color: var(--color-primary-light);
    color: var(--color-white);
}

.admin-slide--white {
    background-color: var(--color-white);
    color: var(--color-black);
}

.admin-slide__text {
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-slider__controls {
    margin-top: 20px;
}

.service-slider {
    height: 180px;
}

.service-slider__slide {
    width: 180px !important;
}

.service-slide {
    background-color: var(--color-primary);
    border-radius: 20px;
    color: var(--color-white);
    padding: 20px;
    height: 100%;
    display: flex;
}

.service-slide--gray {
    background-color: var(--color-gray-light);
    color: var(--color-black);
}

.service-slide--bg-1 {
    background-image: url("/slider/service-slider_bg-1.png");
    background-size: contain;
}

.service-slide--bg-2 {
    background-image: url("/slider/service-slider_bg-2.png");
    background-size: contain;
}

.service-slide--gray {
    background-color: var(--color-gray-light);
    color: var(--color-black);
}

.service-slide__name {
    margin-top: auto;
}

.advanse-slider__pic {
    display: none;
    width: 172px;
    height: 172px;
}

.advanse-slider__text + .advanse-slider__text {
    margin-top: 11px;
}

@media (min-width: 768px) {
    .admin-slider__controls {
        display: none;
    }

    .admin-slider {
        margin-top: 60px;
        height: 289px;
    }

    .admin-slide {
        padding: 40px;
    }

    .admin-slider__slide {
        width: 442px !important;
    }

    .advanse-slider {
        margin-top: 60px;
        height: 371px;
    }

    .admin-slide__avatar {
        width: 89px;
        height: 89px;
    }

    .advanse-slider__slide {
        width: 568px !important;
    }

    .advanse-slider__avatar {
        display: none;
    }

    .advanse-slider__pic {
        display: block;
    }

    .advanse-slider__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .advanse-slider__text + .advanse-slider__text {
        margin-top: 20px;
    }

    .service-slider__slide {
        width: 276px !important;
    }

    .service-slider {
        height: 276px;
    }

    .service-slider__controls {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .stats__grid {
        justify-content: flex-start;
    }

    .stats__item {
        flex: 1;
    }
}