<footer class="footer section">
  <div class="footer__container container">
    <div class="footer__col">
      <div class="footer__col--logo">
      <a href="/" class="footer__logo-link">
        <img src="/logo.svg" class="footer__logo" alt="Логотип" />
      </a>
    </div>
    <div class="footer__col--content">
      <div class="footer__content-row">
        <div class="footer__address">
          <div class="footer__title footer__title--address text-white">Адрес</div>
          <div class="footer__text text-neon">129090</div>
          <div class="footer__text text-neon">Россия, г. Москва</div>
          <div class="footer__text text-neon">ул. Щепкина</div>
          <div class="footer__text text-neon">д. 28, оф. 311</div>
          <a class="footer__link text-neon" href="mailto:info@mir-dit.ru">info@mir-dit.ru</a>
        </div>

        <div class="footer__menu">
          <div class="footer__menu-grid">
            <div class="footer__menu-col">
              <a class="footer__menu-link text-neon" href="/admin.html">Администрирование</a>
              <a class="footer__menu-link text-neon" href="/analytic.html">Аналитика</a>
              <a class="footer__menu-link text-neon" href="/security.html">Информационная <br /> безопасность</a>
            </div>
            <div class="footer__menu-col">
              <a class="footer__menu-link text-neon" href="/about.html">О компании</a>
              <a class="footer__menu-link text-neon" href="/contacts.html">Контакты</a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__contacts footer__contacts--desktop">
        <div class="footer__question text-white t-2">Возникли вопросы? Свяжитесь с нами</div>
        <div class="footer__contacts-row">
          <a class="footer__phone head-3 text-neon" href="tel:+74957970416">+7 (495) 797 04 16</a>
          <div class="footer__social">
            <a href="/" class="footer__social-link">
              <img src="/tg_40x40.svg" alt="Telegram" />
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    

    <div class="footer__contacts footer__contacts--mobile">
      <div class="footer__question text-white">Возникли вопросы? Свяжитесь с нами</div>
      <a class="footer__phone head-3 text-neon" href="tel:+74957970416">+7 (495) 797 04 16</a>
      <div class="footer__social">
        <a href="/" class="footer__social-link">
          <img src="/tg_40x40.svg" alt="Telegram" />
        </a>
      </div>
    </div>
  </div>
</footer>