<form class="w-full max-w-[692px]" action="/" method="POST">
  <div class="form-group">
    <input
      class="bg-white rounded-btn h-[55px] w-full p-5 text-t-2 text-gray-4 focus:outline-2 focus:outline-offset-2 focus:outline-neon mb-[10px]"
      type="text"
      id="name"
      name="name"
      placeholder="Ваше имя"
    />

    <input
      class="bg-white rounded-btn h-[55px] w-full p-5 text-t-2 text-gray-4 focus:outline-2 focus:outline-offset-2 focus:outline-neon"
      type="text"
      id="phone"
      name="phone"
      placeholder="Телефон"
    />
  </div>

  <button
    type="submit"
    class="w-full h-15 cursor-pointer rounded-btn text-t-2 text-neon border-1 border-neon mt-[10px] hover:border-white hover:text-white"
  >
    Связаться
  </button>

  <div class="text-t-4 text-white mt-3 text-center">
    Нажимая “Отправить”, Вы соглашаетесь <a class="text-gray-3" href="#">с обработкой персональных данных.</a>
  </div>
</form>
