<form class="form form--big" id="big-form">
  <div class="form__group">
    <input
      class="form__input"
      type="text"
      name="name"
      placeholder="Ваше имя"
    />

    <input
      class="form__input phone"
      type="tel"
      name="phone"
      placeholder="Телефон"
      required
    />

    <input
      class="form__input"
      type="email"
      name="email"
      placeholder="Электронная почта"
    />

    <textarea
      class="form__textarea"
      name="message"
      placeholder="Задать вопрос"
      rows="4"
    ></textarea>
  </div>

  <button type="submit" class="form__button btn btn--primary btn--full">
    Связаться
  </button>

  <div class="form__notice form__notice--big">
    Нажимая "Связаться", Вы соглашаетесь
    <a class="form__notice-link" href="/files/Политика обработки ПД - МДИТ.pdf" target="_blank" rel="noopener noreferrer">
      с обработкой персональных данных.
    </a>
  </div>
</form>