<form class="form form--big" action="/" method="POST">
  <div class="form__group">
    <input
      class="form__input"
      type="text"
      id="name-big"
      name="name"
      placeholder="Ваше имя"
      required
    />

    <input
      class="form__input"
      type="tel"
      id="phone-big"
      name="phone"
      placeholder="Телефон"
      required
    />

    <input
      class="form__input"
      type="email"
      id="email-big"
      name="email"
      placeholder="Электронная почта"
      required
    />

    <textarea
      class="form__textarea"
      id="message"
      name="message"
      placeholder="Задать вопрос"
      rows="4"
    ></textarea>
  </div>

  <button type="submit" class="form__button btn btn--primary btn--full">
    Связаться
  </button>

  <div class="form__notice form__notice--big">
    Нажимая "Отправить", Вы соглашаетесь
    <a class="form__notice-link" href="#">
      с обработкой персональных данных.
    </a>
  </div>
</form>