<nav class="header-nav">
  <div class="header-nav__container container">
    <div class="header-nav__inner">
      <!-- Логотип -->
      <div class="header-nav__logo">
        <a href="/">
          <img src="/logo.svg" alt="Логотип" class="header-nav__logo-img" />
        </a>
      </div>
      
      <!-- Основные пункты меню -->
      <div class="header-nav__menu">
        <div class="header-nav__item header-nav__item--dropdown">
          <button class="header-nav__dropdown-toggle">
            <span class="header-nav__dropdown-text">Направления работы</span>
            <svg class="header-nav__dropdown-icon" width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div class="header-nav__dropdown-menu">
            <a href="/analytic.html" class="header-nav__dropdown-link">Аналитика и тестирование</a>
            <a href="/admin.html" class="header-nav__dropdown-link">Администрирование</a>
            <a href="/oracle.html" class="header-nav__dropdown-link">Oracle</a>
            <a href="/security.html" class="header-nav__dropdown-link">Информационная безопасность</a>
          </div>
        </div>
        
        <a href="/about.html" class="header-nav__link">О компании</a>
        <a href="/contacts.html" class="header-nav__link">Контакты</a>
      </div>
      
      <!-- Контакты -->
      <div class="header-nav__contacts">
        <div class="header-nav__social">
          <a href="/" class="header-nav__social-link">
            <img src="/tg-icon.svg" alt="Telegram" class="header-nav__social-icon" />
          </a>
        </div>
        <div class="header-nav__phone">
          <a href="tel:+74957970416" class="header-nav__phone-link">+7 (495) 797 04 16</a>
        </div>
      </div>
      
      <!-- Мобильное меню кнопка -->
      <div class="header-nav__mobile-toggle">
        <button class="header-nav__mobile-button">
          <svg width="24" height="24" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  
  <!-- Мобильное меню -->
  <div class="header-nav__mobile-menu">
    <ul class="header-nav__mobile-list">
      <li class="header-nav__mobile-item header-nav__mobile-item--active">
        <a href="#" class="header-nav__mobile-link">Главная</a>
      </li>
      <!-- остальные пункты мобильного меню -->
    </ul>
  </div>
</nav>