@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #274a64;
  --color-primary-light: rgba(39, 74, 100, 0.8);
  --color-white: #ffffff;
  --color-gray-light: #f2f2f2;
  --color-gray-3: #828282;
  --color-black: #000206;
  --color-neon: #96d7e3;
  --color-neon-light: #a1eaf7;

  --radius-2.5xl: 1.25rem;
  --radius-3.5xl: 1.875rem;
  --radius-5xl: 2.5rem;
  --radius-btn: 3.125rem;

  --main-gradient: linear-gradient(180deg, #274a64 27.33%, #a1eaf7 79.33%);

  --font-manrope: "Manrope", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --indicator-primary-img-l: url("/indicators/indicator-right-primary-l.svg");
  --indicator-white-img-l: url("/indicators/indicator-right-white-l.svg");
  --indicator-gray-img-l: url("/indicators/indicator-right-gray-l.svg");
  --bg-img-2: url("/bg-2.svg");

  --slider-bg-1: url("/slider/1.svg");
  --slider-bg-2: url("/slider/2.svg");

  --pointer-bg-blue: url("/pointers/blue-pointer-big.svg");
  --pointer-bg-white: url("/pointers/white-pointer-big.svg");
  --pointer-bg-gray: url("/pointers/gray-pointer-big.svg");

  --breakpoint-mobile: 22.5rem;
  --breakpoint-mobile+: 48rem;
  --breakpoint-tablet: 64rem;
  --breakpoint-laptop: 100rem;
  --breakpoint-desktop: 120rem;

  --text-h-1: 80px;
  --text-h-1--line-height: 100%;
  --text-h-1--font-weight: 500;

  --text-h-2: 54px;
  --text-h-2--line-height: 100%;
  --text-h-2--font-weight: 500;
  --text-h-2--letter-spacing: -5%;

  --text-h-3: 36px;
  --text-h-3--line-height: 95%;
  --text-h-3--font-weight: 500;

  --text-t-1: 23px;
  --text-t-1--line-height: 100%;
  --text-t-1--font-weight: 300;

  --text-t-2: 16px;
  --text-t-2--line-height: 120%;
  --text-t-2--font-weight: 300;

  --text-t-3: 120px;
  --text-t-3--line-height: 100%;
  --text-t-3--font-weight: 400;
  --text-t-3--letter-spacing: -5%;

  --text-t-4: 9px;
  --text-t-4--line-height: auto;
  --text-t-4--font-weight: 700;
  --text-t-4--letter-spacing: 0%;

  --text-t-5: 250px;
  --text-t-5--line-height: 100%;
  --text-t-5--font-weight: 500;
  --text-t-5--letter-spacing: -5%;
}

.text-gradient {
  background-image: var(--main-gradient);
}

.test {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.text-stroke-1 {
  -webkit-text-stroke: 1px var(--color-primary);
}

.with-arrow {
  filter: url(#round);
}

.with-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: calc(var(--spacing) * 15);
  height: inherit;
  background: inherit;
  z-index: inherit;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.with-arrow._left::after {
  right: 100%;
  transform: scaleX(-1);
}

.with-arrow._duplicate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: calc(var(--spacing) * 15);
  height: inherit;
  background: var(--color-primary);
  z-index: inherit;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.swiper {
  width: 100%;
  height: 276px;
}

.container {
  max-width: 1405px;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1162px;
  }
}